<div class="tech-services">
  <h1>Your previous medical requirements: </h1>
  <button class="btn-rounded-blue" (click)="newRequestService()">Request a new medical service +</button>
  <div class="sub-titles">
    <div class="yellow-box">Medical Service</div>
    <div class="yellow-box">Doctor</div>
    <div class="yellow-box">Done by</div>
    <div class="yellow-box">Give a rating</div>
  </div>

  <div class="services__history">
    <div class="white-box-container">
      <div class="white-box">
        <div class="report-section">
          <p class="report-description">VERY HIGH HEART RATE AND HIGH TEMPERATURE <br></p>
          <p class="report-author">David Fernandez, General doctor</p>
          <p class="report-date">30/03/2024</p>
        </div>
      </div>
      <div class="btn-rounded-blue btn-add-comment" (click)="newComment()">+ Add Comment</div>
    </div>

    <div class="white-box-container">
      <div class="white-box">
        <div class="report-section">
          <p class="report-description">FLU, COUGH WITH GREEN PHLEMMA, HEADACHE AND FEVER<br></p>
          <p class="report-author">Pablo Gomez, General doctor</p>
          <p class="report-date">27/03/2024</p>
        </div>
      </div>
      <div class="btn-rounded-blue btn-add-comment" (click)="newComment()">+ Add Comment</div>
    </div>

    <div class="white-box-container">
      <div class="white-box">
        <div class="report-section">
          <p class="report-description">GENERAL DISCOMFORT, TIREDNESS, HEADACHES AND CHILLS</p>
          <p class="report-author">Pablo Gomez, General doctor</p>
          <p class="report-date">27/03/2024</p>
        </div>
      </div>
      <div class="btn-rounded-blue btn-add-comment" (click)="newComment()">+ Add Comment</div>
    </div>

  </div>
</div>
